# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias home="cd"

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format
alias l="ls -l ${colorflag}"

# List only directories
alias lsd='ls -l | grep "^d"'

# Always use color output for `ls`
if [[ "$OSTYPE" =~ ^darwin ]]; then
	alias ls="command ls -G"
else
	alias ls="command ls --color"
	export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'


# GIT STUFF
alias gs="git status"
alias gf="git fetch"
alias gp="git pull"
alias gbr="git branch"
alias grs="git reset --soft HEAD~1"
alias gl="git log -n 5"

# docker
alias docker-rm-all='docker rm -vf $(docker ps -aq)'
alias docker-rmi-all='docker rmi -f $(docker images | grep "<none>" | awk "{print \$3}")'
alias dps='docker ps --format="table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}"'

# Language specific Atom
function a {
 LANG=en_US.UTF-8 atom $@
}

alias subl="open -a Sublime\ Text.app"
SSH_USER=${USER}  # Change this to your login on the servers if it differs from your login on your laptop
alias a="nc -G 1 -z acacia 22 2>/dev/null; if [ \$? -eq 0 ]; then ssh ${SSH_USER}@acacia; else ssh ${SSH_USER}@deepo_paris -p 30; fi"
alias b="nc -G 1 -z baobab 22 2>/dev/null; if [ \$? -eq 0 ]; then ssh ${SSH_USER}@baobab; else ssh ${SSH_USER}@deepo_paris -p 31; fi"
alias c="nc -G 1 -z cactus 22 2>/dev/null; if [ \$? -eq 0 ]; then ssh ${SSH_USER}@cactus; else ssh ${SSH_USER}@deepo_paris -p 32; fi"
alias d="nc -G 1 -z dahlia 22 2>/dev/null; if [ \$? -eq 0 ];then ssh ${SSH_USER}@dahlia; else ssh ${SSH_USER}@deepo_paris -p 33; fi"
alias python=python3
